<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    You are fighting {{ enemy }} that has {{ enemyhealth }} health.<br>
    You are {{ username }} and you have {{ health }} heatlh.<br>
    <form action="/fight" method="POST">
        <input type="submit" value="FIGHT"><br>
    </form>
    *After clicking fight, reload the page quickly to see the action.
</body>
</html>
