<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    This is the gacha. Pull 1 or 10 weapons at a time for coins!<br>
    This gacha supplies: absolutely terrible, not as bad as you, decent and fine weapons.<br>
    <a href="/weapongacha1">Pull 1: 500 coins</a><br>
    <a href="/weapongacha10">Pull 10: 3000 coins</a><br>
    <a href="/start">Back</a><br>
    Chances: (Rounded)<br>
    Absolutely Terrible: 1 in 2<br> 
    Not as bad as you: 1 in 4<br>
    Decent: 1 in 8<br>
    Fine: 1 in 8<br>
</body>
</html>
