<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    This is the gacha. Pull 1 or 10 weapons at a time for coins!<br>
    This gacha supplies: not as bad as you, decent, fine, rare, epic and legendary weapons.<br>
    <a href="/gachagood1">Pull 1: 1500 coins</a><br>
    <a href="/gachagood10">Pull 10: 10000 coins</a><br>
    <a href="/spiralf3">Back</a><br>
    Chances: (Rounded)<br>
    Not as bad as you: 1 in 2<br>
    Decent: 1 in 4<br>
    Fine: 1 in 8<br>
    Rare: 1 in 10<br>
    Epic: 1 in 100<br>
    Legendary: 1 in 200<br>
</body>
</html>
