<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Welcome to the hub!<br>
    Even if you think you're done, there is still more to do.<br>
    This is: INSANITY PRIME, © Jeremy, 2023<br>
    You are level {{ level }}<br>
    You are holding {{ weapon }}, which is {{ rarity }}.<br>
    You have {{ dmg }} dpt.<br>
    You have {{ coins }} coins and {{ gems }} gems.<br>
    <form method="POST" action="/training" class="training">
        <button type="submit" value="Enter the training grounds" class="x">
            Go to the training grounds
        </button><br>
    </form>
    <form method="POST" action="/spiral" class="training">
        <button type="submit" value="Enter the spiral of doom (REQIRES TRAINING GROUND TO BE BEATEN)" class="x">
            Invade the SPIRAL OF DOOM<br>
        </button><br>
    </form>
    <form method="POST" action="/ww3" class="WW3">
        <button type="submit" value="World War 3" class="x">
            Enter WORLD WAR III<br>
        </button><br>
    </form>
    <form method="GET" action="/gacha" class="training">
        <button type="submit" value="Enter the gacha" class="x">
            Enter the gacha<br>
        </button><br>
    </form>
    <form action="/">
        <input type="submit" value="Sign Out"><br>
    </form>
    Updates:<br>
    Sun Apr 9 2023: Update 1.0: Added the training grounds and the fight mechanism<br>
    Sun Apr 9 2023: Update 2.0: Added floor 1 of the Spiral of Doom and the gacha.<br>
    Mon Apr 10 2023: Update 2.1: Added floor 2 and 3 of the Spiral of Doom.<br>
    Tue Apr 11 2023: Update 3: Added WW3!!!<br>
    
</body>
</html>
