<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    (Glenthrosh): Well, well, well. Look at what we have here. A ... soul.<br>
    (God of Murder): Then let him die. Our minions are enough.<br>
    <a href="/fight">Fight Minion 1</a><br>
    <a href="/fight">Fight Minion 2</a><br>
    <a href="/fight">Fight Minion 3</a><br>
    <a href="/fight">Fight Minion 4</a><br>
    <a href="/fight">Fight Minion 5</a><br>
    <a href="/spiralf2">Go to floor 2</a><br>
    <a href="/start">Back</a><br>
    
</body>
</html>
