<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    This is the 2cd floor of the Spiral of Doom.<br>
    (VELVET MAN): AHA! I see you there. You. Will. Die.<br>
    <a href="/fight">FIGHT HIM</a><br>
    <a href="/spiralf3">Go to the final floor!</a><br>
    <a href="/spiral">Back</a><br>
</body>
</html>
