<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Welcome to the hub of all lands; the middle of the universe.<br>
    You are {{ username }}, and you have the chance to become the strongest man in the world.<br>
    However, in your path is millions of enimies, trying to kill you.<br>
    <form action="/start" method="GET">
        <input type="submit" value="Begin your journey!"><br>
    </form>
    <form action="/">
        <input type="submit" value="Sign Out"><br>
    </form>
</body>
</html>
