<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Welcome to the training grounds.<br>
    Here, we will give you a training sword.<br>
    [New Weapon Discovered: Training Sword; Rarity: Common]<br>
    First, start the fight with the enemy.<br>
    <a href="/fight">Fight the TRAINING PUPPET</a><br>
    Oh by the way, we are giving you 3000 coins to gacha pull! Well and also 50 gems.<br>
</body>
</html>
