<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    World. War. III!!!<br>
    You are fighting in WW3! But is it as it seems?<br>
    (God of Death): Fight this enemy, will you, {{ username }}?<br>
    (Zombie Killer): BLERSHIVICH FOR THE MURDER GOD!<br>
    <a href="/fight">Fight Zombie Killer</a><br>
    <a href="/start">Back</a><br>
    *After killing the zombie killer, come back to this page.<br>
</body>
</html>
